$body-font-family: 'lunchtype22', serif;
$heading-font-family: 'Poppins', serif;

.v-btn {
    text-transform:none !important;
};

.v-tab {
    text-transform:none !important;
};

.scroller {
    overflow-y: scroll;
};